# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
ENV/
.env
.env.local
instance/

# Node
node_modules/
npm-debug.log
package-lock.json

# Tailwind CSS
static/css/output.css

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Railway
.railway/